@page "/login"
@rendermode InteractiveServer
@inject ApplicationDbContext db
@inject NavigationManager navigation
@inject AuthStateService authState
@using Gotorz.Data
@using Gotorz.Models
@using Gotorz.Services
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity


<h3>Login</h3>
<div class="container">
    <h3>Login</h3>
    <div class="form-field-inline">
        <label>Email:</label>
        <div class="input-area">
            <input type="text" required @bind="Email" class="form-control" />
        </div>
    </div>

    <div class="form-field-inline">
        <label>Password: </label>
        <div class="input-area">
            <input type="password" required @bind="Password" class="form-control" />
        </div>
    </div>

    <p style="color:@loginColor"> @loginText</p>

    <button type="submit" @onclick="LoginCheck"> Login </button>

    <p>Don't have an account? <a href="/register"> Register</a></p>
</div>

<img src="/images/gotorz.svg" alt="Travel image" class="bottom-right-image">




@code {
    private string Email { get; set; }
    private string Password { get; set; }

    string loginColor = "black";
    string loginText = "test";

    private async Task LoginCheck()
    {
        var user = await db.Users.FirstOrDefaultAsync(u => u.Email == Email);

        //CHECK EMAIL AND PASSWORD HERE
        if(user == null)
        {
            loginColor = "red";
            loginText = "User not found";
            return;
        }
        var hasher = new PasswordHasher<RegisterModel>();
        var hasherResult = hasher.VerifyHashedPassword(user, user.HashedPassword, Password);

        if(hasherResult == PasswordVerificationResult.Success)
        {
            loginColor = "green";
            loginText = "Succesful login";
            authState.Login(user.Email,user.Role);
            navigation.NavigateTo("/userPage");


            // TODO: Add session/token logic here
        }
        else
        {
            loginColor = "red";
            loginText = "Invalid password";
            
        }

    }
}
