@page "/login"
@rendermode InteractiveServer

<h3>Login</h3>
<div class="container">
    <h3>Login</h3>

        <label>Email:</label>
        <input type="text" required @bind="Email"/>

        <label>Password: </label>
        <input type="password" required @bind="Password"/>


        <p style="color:@loginColor"> @loginText</p>

        <button type="submit" @onclick="LoginCheck"> Login </button>

        <p>Don't have an account? <a href="/register"> Register</a></p>
</div>




@code {
    private string Email { get; set; }
    private string Password { get; set; }

    string loginColor = "black";
    string loginText = "test";

    private void LoginCheck()
    {
        //CHECK EMAIL AND PASSWORD HERE
        if(Email == "test@gmail.com" && Password == "123456")
        {
            loginColor = "green";
            loginText = "Succesful login";

        }
        else
        {
            loginColor = "red";
            loginText = "Failed login";
            
        }

    }
}
