@page "/change-password"
@rendermode InteractiveServer
@using Gotorz.Models
@using Gotorz.Services
@using Gotorz.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@inject NavigationManager navigation
@inject AuthStateService authState

<h3>Change your password</h3>

<div>
    <label>New Password:</label>
    <input type="password" @bind="NewPassword" />

    <button class="btn btn-primary" @onclick="ChangePw">Update Password</button>
    <p>@StatusMessage</p>

</div>

<button @onclick=UserPageRedirect>Back</button>

@code {
    private string NewPassword;
    private string StatusMessage;

    private async Task ChangePw()
    {
        //Get the currently logged in user from the database
        var user = await db.Users.FirstOrDefaultAsync(u => u.Email == authState.UserEmail);
        if(user == null)
        {
            StatusMessage = "User was not found";
            return;
        }
        //Hash the new password
        var hasher = new PasswordHasher<RegisterModel>();
        user.HashedPassword = hasher.HashPassword(user, NewPassword);

        //Set the new password
        db.Users.Update(user);
        await db.SaveChangesAsync();

        StatusMessage = "Password updated succesfully";
        navigation.NavigateTo("UserPage");
    }

    private void UserPageRedirect()
    {
        navigation.NavigateTo("/userPage");
    }

}
